name: release

on: 
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  Build:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: bash scripts/release.sh "${{ github.ref }}"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          files: |
            dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GT_Token }}